<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="en-us" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Appointment Reminder</title>
</head>

<body style='font-family:"Open Sans", "Verdana","Arial", "Helvetica","sans-serif";'>

<table align="center" style="width: 620px;background-color: #bbddee;border-spacing: 20px;">
<tr><td>
<table style="background-color: white;border-radius: 10px;border-spacing: 10px;">
	<tr style="background-color: white;font-size:0.9em;">
		<td><a href="http://www.example.com/">
		<img alt="EXAMPLE CLINIC" style="border: none;" src="http://www.example.com/img/logo.jpg" /></a>&nbsp;
		</td>

		<td align="right" style="font-weight:bold;"> phone: (111) 222-3333<br />
			 fax: (555) 666-7777
		</td>
	</tr>
	
	<tr></tr>
	<tr><td colspan="2">
			<strong>Remider about your upcoming appointment</strong><br />
		<br />
			Dear <strong>PARAM-1,</strong><br/>
			We are sending this message to remind you that you have an appointment with us on 
			the date &amp; time indicated below:<br />
			<strong><u>PARAM-2</u>.</strong>
			<br />
			<br />
			In case you are unable to keep this time that is specially reserved for you, please call the office to cancel or reschedule your appointment.
			<br />
		<br />
		We look forward to seeing you!<br />
		Sincerely,<br />
		<br />
		EXAMPLE CLINIC<br />
		<a href="http://www.example.com">EXAMPLE CLINIC</a><br />
		<br />
		
	</td></tr>
	
	
</table>
</td></tr>
</table>

<table align="center" style="width: 600px;color: #666666;font-size:x-small;">
	<tr>
		<td>
		There will be a $50 fee for missed appointments and last minute 
		cancellations. Please give us a 24-hour notice, if you want to cancel your 
		appointment.<br />
		<br />
		CONFIDENTIALITY NOTICE: [Customize]
		<br />
		<br />
		Copyright © 2016 EXAMPLE CLINIC . All Rights Reserved.
		</td>
	</tr>
</table>

</body>

</html>
